web/src/modules/transfer/views/transfer.component.html

<div class="ui raised very padded container segment">
  <h2 class="ui icon header"><i class="users icon"></i>
    <div class="content">Transfers
      <div class="sub header">You can manage patients Transfers from here.</div>
    </div>
  </h2>
  <div class="ui section divider"></div>
  <div class="ui top attached transfers menu"><a class="item active" data-tab="first">All transfers</a><a class="item" data-tab="second">In coming transfers</a><a class="item" data-tab="third">Out going transfers</a></div>
  <div class="ui bottom attached tab segment active" data-tab="first">
    <table class="ui very basic selectable table" *ngIf="allTransfers">
      <thead>
        <tr>
          <th>National patient Id</th>
          <th>Origin organization Id</th>
          <th>Receiving organization Id</th>
          <th>Arrival (date and time)</th>
          <th>Created (date and time)</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let transfer of allTransfers">
          <td>{{ transfer.nationalPatientId }}</td>
          <td>{{ transfer.originOrganizationId }}</td>
          <td>{{ transfer.receivingOrganizationId }}</td>
          <td>{{ transfer.arrivalDateTime | date:'dd/MM/yyyy hh:mm:ss' }}</td>
          <td>{{ transfer.dateTimeCreated | date:'dd/MM/yyyy hh:mm:ss' }}</td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <th colspan="9">
            <div class="ui right floated pagination menu"><a class="icon item"><i class="left chevron icon"></i></a><a class="item">1</a><a class="item">2</a><a class="item">3</a><a class="item">4</a><a class="icon item"><i class="right chevron icon"></i></a></div>
          </th>
        </tr>
      </tfoot>
    </table>
  </div>
  <div class="ui bottom attached tab segment" data-tab="second">
    <table class="ui very basic selectable table" *ngIf="inTransfers">
      <thead>
        <tr>
          <th>National patient Id</th>
          <th>Origin organization Id</th>
          <th>Arrival (date and time)</th>
          <th>Created (date and time)</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let transfer of inTransfers">
          <td>{{ transfer.nationalPatientId }}</td>
          <td>{{ transfer.originOrganizationId }}</td>
          <td>{{ transfer.arrivalDateTime|date:'dd/MM/yyyy hh:mm:ss' }}</td>
          <td>{{ transfer.dateTimeCreated|date:'dd/MM/yyyy hh:mm:ss' }}</td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <th colspan="9">
            <div class="ui right floated pagination menu"><a class="icon item"><i class="left chevron icon"></i></a><a class="item">1</a><a class="item">2</a><a class="item">3</a><a class="item">4</a><a class="icon item"><i class="right chevron icon"></i></a></div>
          </th>
        </tr>
      </tfoot>
    </table>
  </div>
  <div class="ui bottom attached tab segment" data-tab="third">
    <table class="ui very basic selectable table" *ngIf="outTransfers">
      <thead>
        <tr>
          <th>National patient Id</th>
          <th>Receiving organization Id</th>
          <th>Arrival (date and time)</th>
          <th>Created (date and time)</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let transfer of outTransfers">
          <td>{{ transfer.nationalPatientId }}</td>
          <td>{{ transfer.receivingOrganizationId }}</td>
          <td>{{ transfer.arrivalDateTime|date:'dd/MM/yyyy hh:mm:ss' }}</td>
          <td>{{ transfer.dateTimeCreated|date:'dd/MM/yyyy hh:mm:ss' }}</td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <th colspan="9">
            <div class="ui right floated pagination menu"><a class="icon item"><i class="left chevron icon"></i></a><a class="item">1</a><a class="item">2</a><a class="item">3</a><a class="item">4</a><a class="icon item"><i class="right chevron icon"></i></a></div>
          </th>
        </tr>
      </tfoot>
    </table>
  </div>
</div>

web/src/modules/transfer/views/transfer.component.pug
.ui.raised.very.padded.container.segment
    h2.ui.icon.header
        i.users.icon
        .content
            | Transfers
            .sub.header You can manage patients Transfers from here.
    .ui.section.divider
    .ui.top.attached.transfers.menu
        a.item.active(data-tab='first') All transfers
        a.item(data-tab='second') In coming transfers
        a.item(data-tab='third') Out going transfers
    .ui.bottom.attached.tab.segment.active(data-tab='first')
        table.ui.very.basic.selectable.table(*ngIf='allTransfers')
            thead
                tr
                    th National patient Id
                    th Origin organization Id
                    th Receiving organization Id
                    th Arrival (date and time)
                    th Created (date and time)
            tbody
                tr(*ngFor='let transfer of allTransfers')
                    td {{ transfer.nationalPatientId }}
                    td {{ transfer.originOrganizationId }}
                    td {{ transfer.receivingOrganizationId }}
                    td {{ transfer.arrivalDateTime | date:'dd/MM/yyyy hh:mm:ss' }}
                    td {{ transfer.dateTimeCreated | date:'dd/MM/yyyy hh:mm:ss' }}
            tfoot
                tr
                    th(colspan='9')
                        .ui.right.floated.pagination.menu
                            a.icon.item
                                i.left.chevron.icon
                            a.item 1
                            a.item 2
                            a.item 3
                            a.item 4
                            a.icon.item
                                i.right.chevron.icon
    .ui.bottom.attached.tab.segment(data-tab='second')
        table.ui.very.basic.selectable.table(*ngIf='inTransfers')
            thead
                tr
                    th National patient Id
                    th Origin organization Id
                    th Arrival (date and time)
                    th Created (date and time)
            tbody
                tr(*ngFor='let transfer of inTransfers')
                    td {{ transfer.nationalPatientId }}
                    td {{ transfer.originOrganizationId }}
                    td {{ transfer.arrivalDateTime|date:'dd/MM/yyyy hh:mm:ss' }}
                    td {{ transfer.dateTimeCreated|date:'dd/MM/yyyy hh:mm:ss' }}
            tfoot
                tr
                    th(colspan='9')
                        .ui.right.floated.pagination.menu
                            a.icon.item
                                i.left.chevron.icon
                            a.item 1
                            a.item 2
                            a.item 3
                            a.item 4
                            a.icon.item
                                i.right.chevron.icon
    .ui.bottom.attached.tab.segment(data-tab='third')
        table.ui.very.basic.selectable.table(*ngIf='outTransfers')
            thead
                tr
                    th National patient Id
                    th Receiving organization Id
                    th Arrival (date and time)
                    th Created (date and time)
            tbody
                tr(*ngFor='let transfer of outTransfers')
                    td {{ transfer.nationalPatientId }}
                    td {{ transfer.receivingOrganizationId }}
                    td {{ transfer.arrivalDateTime|date:'dd/MM/yyyy hh:mm:ss' }}
                    td {{ transfer.dateTimeCreated|date:'dd/MM/yyyy hh:mm:ss' }}
            tfoot
                tr
                    th(colspan='9')
                        .ui.right.floated.pagination.menu
                            a.icon.item
                                i.left.chevron.icon
                            a.item 1
                            a.item 2
                            a.item 3
                            a.item 4
                            a.icon.item
                                i.right.chevron.icon
