web/src/modules/visit/views/visit.component.pug
#clinical-sidebar.ui.labeled.icon.left.inline.inverted.vertical.sidebar.menu(style='background-color: rgb(135, 201, 948);')
    a.item.amasidemenu([routerLink]="['list']", routerLinkActive='active')
        i.dashboard.icon
        |     All Visits
    a.item.amasidemenu([routerLink]="['queue']")
        i.id.ordered.list.icon
        |     Visit queue
    a.item.amasidemenu([routerLink]="['appointment']")
        i.id.call.square.icon
        |     Appointments
    a.item.amasidemenu([routerLink]="['transfer']")
        i.id.exchange.icon
        |     Transfers
.pusher
    router-outlet

web/src/modules/visit/views/visit.component.html

<div class="ui labeled icon left inline inverted vertical sidebar menu" id="clinical-sidebar" style="background-color: rgb(135, 201, 948);"><a class="item amasidemenu" [routerLink]="['list']" routerLinkActive="active"><i class="dashboard icon"></i>    All Visits</a><a class="item amasidemenu" [routerLink]="['queue']"><i class="id ordered list icon"></i>    Visit queue</a><a class="item amasidemenu" [routerLink]="['appointment']"><i class="id call square icon"></i>    Appointments</a><a class="item amasidemenu" [routerLink]="['transfer']"><i class="id exchange icon"></i>    Transfers</a></div>
<div class="pusher">
  <router-outlet></router-outlet>
</div>
