web/src/modules/clinical/modules/encounter/views/encounter_note.pug
.note
    h3.header
        | Review & Save the Encounter Note
    .note-symptoms
        h4 Symptoms
        p(*ngIf='!note.symptoms') No Symptoms Reported.
        ol.ui.list
            li(*ngFor='let sympt of note.symptoms', value='-')
                | {{ sympt.name }}
                ol
                    li(*ngFor='let sub1 of sympt.subSymptoms', value='*')
                        | {{ sub1.name}}
                        ol
                            li(*ngFor='let sub2 of sub1.subSymptoms', value='.')
                                | {{ sub2.name}}
    .note-history
        h4 History
        p(*ngIf='!note.allHistory') No History Reported.
        ol.ui.list
            li(*ngFor='let hist of note.allHistory', value='-')
                | {{ hist.name }}
                ol
                    li(*ngFor='let sub1 of hist.subHistory', value='*')
                        | {{ sub1.name}}
                        ol
                            li(*ngFor='let sub2 of sub1.subHistory', value='.')
                                | {{ sub2.name}}
    .note-physical
        h4 Physical Examination
        p(*ngIf='!note.physicals') No Physical Examination.
        ol.ui.list
            li(*ngFor='let phys of note.physicals', value='-')
                | {{ phys.name }}
                ol
                    li(*ngFor='let sub1 of phys.subPhysicals', value='*')
                        | {{ sub1.name}}
                        ol
                            li(*ngFor='let sub2 of sub1.subPhysicals', value='.')
                                | {{ sub2.name}}
    .note-test
        h4 Tests
        p(*ngIf='!note.tests') No Test Examination.
        ol.ui.list
            li(*ngFor='let test of note.tests', value='-')
                | {{ test.name }}
                ol
                    li(*ngFor='let sub1 of test.subTests', value='*')
                        | {{ sub1.name}}
                        ol
                            li(*ngFor='let sub2 of sub1.subTests', value='.')
                                | {{ sub2.name}}
    .note-diagnos
        h4 Diagnoses, Syndroms & Conditions
        p(*ngIf='!note.diagnoses') No Diagnoses Examination.
        ol.ui.list
            li(*ngFor='let diagnos of note.diagnoses', value='-')
                | {{ diagnos.name }}
                ol
                    li(*ngFor='let sub1 of diagnos.subDiagnoses', value='*')
                        | {{ sub1.name}}
                        ol
                            li(*ngFor='let sub2 of sub1.subDiagnoses', value='.')
                                | {{ sub2.name}}
    .note-therapy
        h4 Therapy
        p(*ngIf='!note.therapies') No Therapy.
        ol.ui.list
            li(*ngFor='let therapy of note.therapies', value='-')
                | {{ therapy.name }}
                ol
                    li(*ngFor='let sub1 of therapy.subTherapies', value='*')
                        | {{ sub1.name}}
                        ol
                            li(*ngFor='let sub2 of sub1.subTherapies', value='.')
                                | {{ sub2.name}}
    a.ui.left.floated.labeled.icon.button(routerLink='/new-encounter/rx')
        i.left.chevron.icon
        | Previous
    button.ui.primary.right.floated.button((click)='saveNote()')
        i.save.icon
        | Save Note

web/src/modules/clinical/modules/encounter/views/encounter_note.html

<div class="note">
  <h3 class="header">Review & Save the Encounter Note</h3>
  <div class="note-symptoms">
    <h4>Symptoms</h4>
    <p *ngIf="!note.symptoms">No Symptoms Reported.</p>
    <ol class="ui list">
      <li *ngFor="let sympt of note.symptoms" value="-">{{ sympt.name }}
        <ol>
          <li *ngFor="let sub1 of sympt.subSymptoms" value="*">{{ sub1.name}}
            <ol>
              <li *ngFor="let sub2 of sub1.subSymptoms" value=".">{{ sub2.name}}</li>
            </ol>
          </li>
        </ol>
      </li>
    </ol>
  </div>
  <div class="note-history">
    <h4>History</h4>
    <p *ngIf="!note.allHistory">No History Reported.</p>
    <ol class="ui list">
      <li *ngFor="let hist of note.allHistory" value="-">{{ hist.name }}
        <ol>
          <li *ngFor="let sub1 of hist.subHistory" value="*">{{ sub1.name}}
            <ol>
              <li *ngFor="let sub2 of sub1.subHistory" value=".">{{ sub2.name}}</li>
            </ol>
          </li>
        </ol>
      </li>
    </ol>
  </div>
  <div class="note-physical">
    <h4>Physical Examination</h4>
    <p *ngIf="!note.physicals">No Physical Examination.</p>
    <ol class="ui list">
      <li *ngFor="let phys of note.physicals" value="-">{{ phys.name }}
        <ol>
          <li *ngFor="let sub1 of phys.subPhysicals" value="*">{{ sub1.name}}
            <ol>
              <li *ngFor="let sub2 of sub1.subPhysicals" value=".">{{ sub2.name}}</li>
            </ol>
          </li>
        </ol>
      </li>
    </ol>
  </div>
  <div class="note-test">
    <h4>Tests</h4>
    <p *ngIf="!note.tests">No Test Examination.</p>
    <ol class="ui list">
      <li *ngFor="let test of note.tests" value="-">{{ test.name }}
        <ol>
          <li *ngFor="let sub1 of test.subTests" value="*">{{ sub1.name}}
            <ol>
              <li *ngFor="let sub2 of sub1.subTests" value=".">{{ sub2.name}}</li>
            </ol>
          </li>
        </ol>
      </li>
    </ol>
  </div>
  <div class="note-diagnos">
    <h4>Diagnoses, Syndroms & Conditions</h4>
    <p *ngIf="!note.diagnoses">No Diagnoses Examination.</p>
    <ol class="ui list">
      <li *ngFor="let diagnos of note.diagnoses" value="-">{{ diagnos.name }}
        <ol>
          <li *ngFor="let sub1 of diagnos.subDiagnoses" value="*">{{ sub1.name}}
            <ol>
              <li *ngFor="let sub2 of sub1.subDiagnoses" value=".">{{ sub2.name}}</li>
            </ol>
          </li>
        </ol>
      </li>
    </ol>
  </div>
  <div class="note-therapy">
    <h4>Therapy</h4>
    <p *ngIf="!note.therapies">No Therapy.</p>
    <ol class="ui list">
      <li *ngFor="let therapy of note.therapies" value="-">{{ therapy.name }}
        <ol>
          <li *ngFor="let sub1 of therapy.subTherapies" value="*">{{ sub1.name}}
            <ol>
              <li *ngFor="let sub2 of sub1.subTherapies" value=".">{{ sub2.name}}</li>
            </ol>
          </li>
        </ol>
      </li>
    </ol>
  </div><a class="ui left floated labeled icon button" routerLink="/new-encounter/rx"><i class="left chevron icon"></i>Previous</a>
  <button class="ui primary right floated button" (click)="saveNote()"><i class="save icon"></i>Save Note</button>
</div>
