web/src/modules/clinical/modules/encounter/views/px.pug
.sx
    .ui.form.templates
        h3.header
            i.edit.icon
            | {{ textDisplay }}
        kira-checklist-search([displayName]='textDisplay')
        //.ui.styled.accordion
        //  div(#parent='', *ngFor='let symptom of physicals')
        //    .title
        //      i.dropdown.icon(*ngIf='symptom.subPhysicals.length > 0')
        //      div(*ngIf='symptom.subPhysicals.length == 0')
        //        .ui.toggle.checkbox.checked
        //          input([(ngModel)]='symptom.checked', (change)='onChecked(symptom.codeId)', type='checkbox', name='{{ symptom.name }}')
        //          label {{ symptom.name }}
        //      label(*ngIf='symptom.subPhysicals.length > 0') {{ symptom.name }}
        //    .content(*ngIf='symptom.subPhysicals.length > 0')
        //      .accordion
        //        div(*ngFor='let sub1 of symptom.subPhysicals')
        //          .title
        //            i.dropdown.icon(*ngIf='sub1.subPhysicals.length > 0')
        //            div(*ngIf='sub1.subPhysicals.length == 0')
        //              .ui.toggle.checkbox
        //                input([(ngModel)]='sub1.checked', (change)='onChecked(sub1.codeId)', type='checkbox', name='{{ sub1.name }}')
        //                label {{ sub1.name }}
        //            label(*ngIf='sub1.subPhysicals.length > 0') {{ sub1.name }}
        //          .content(*ngIf='sub1.subPhysicals.length > 0')
        //            .accordion
        //              div(*ngFor='let sub2 of sub1.subPhysicals')
        //                .title
        //                  .ui.toggle.checkbox
        //                    input([(ngModel)]='sub2.checked', (change)='onChecked(sub2.codeId)', type='checkbox', name='{{ sub2.name }}')
        //                    label {{ sub2.name }}
    a.ui.left.floated.labeled.icon.button(routerLink='/new-encounter/hx')
        i.left.chevron.icon
        | Previous
    a.ui.primary.right.floated.right.labeled.icon.button.encounter-next(routerLink='/new-encounter/tx')
        | Next
        i.chevron.right.icon

web/src/modules/clinical/modules/encounter/views/px.html

<div class="sx">
  <div class="ui form templates">
    <h3 class="header"><i class="edit icon"></i>{{ textDisplay }}</h3>
    <kira-checklist-search [displayName]="textDisplay"></kira-checklist-search>
    <!--.ui.styled.accordion-->
    <!--  div(#parent='', *ngFor='let symptom of physicals')-->
    <!--    .title-->
    <!--      i.dropdown.icon(*ngIf='symptom.subPhysicals.length > 0')-->
    <!--      div(*ngIf='symptom.subPhysicals.length == 0')-->
    <!--        .ui.toggle.checkbox.checked-->
    <!--          input([(ngModel)]='symptom.checked', (change)='onChecked(symptom.codeId)', type='checkbox', name='{{ symptom.name }}')-->
    <!--          label {{ symptom.name }}-->
    <!--      label(*ngIf='symptom.subPhysicals.length > 0') {{ symptom.name }}-->
    <!--    .content(*ngIf='symptom.subPhysicals.length > 0')-->
    <!--      .accordion-->
    <!--        div(*ngFor='let sub1 of symptom.subPhysicals')-->
    <!--          .title-->
    <!--            i.dropdown.icon(*ngIf='sub1.subPhysicals.length > 0')-->
    <!--            div(*ngIf='sub1.subPhysicals.length == 0')-->
    <!--              .ui.toggle.checkbox-->
    <!--                input([(ngModel)]='sub1.checked', (change)='onChecked(sub1.codeId)', type='checkbox', name='{{ sub1.name }}')-->
    <!--                label {{ sub1.name }}-->
    <!--            label(*ngIf='sub1.subPhysicals.length > 0') {{ sub1.name }}-->
    <!--          .content(*ngIf='sub1.subPhysicals.length > 0')-->
    <!--            .accordion-->
    <!--              div(*ngFor='let sub2 of sub1.subPhysicals')-->
    <!--                .title-->
    <!--                  .ui.toggle.checkbox-->
    <!--                    input([(ngModel)]='sub2.checked', (change)='onChecked(sub2.codeId)', type='checkbox', name='{{ sub2.name }}')-->
    <!--                    label {{ sub2.name }}-->
  </div><a class="ui left floated labeled icon button" routerLink="/new-encounter/hx"><i class="left chevron icon"></i>Previous</a><a class="ui primary right floated right labeled icon button encounter-next" routerLink="/new-encounter/tx">Next<i class="chevron right icon"></i></a>
</div>
