web/src/modules/shared/components/pager/pager.component.html

<!-- pager-->
<div class="ui right floated pagination menu" *ngIf="pager.pages && pager.pages.length"><a class="icon item" [ngClass]="{disabled:pager.currentPage === 1}" (click)="setPage(1)"><i class="angle double left icon"></i></a>
  <div class="disabled item" *ngIf="pager.startPage > 1">...</div><a class="icon item" [ngClass]="{disabled:pager.currentPage === 1}" (click)="setPage(pager.currentPage - 1)"><i class="angle left icon"></i></a><a class="item" *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}" (click)="setPage(page)">{{page}}</a><a class="icon item" [ngClass]="{disabled:pager.currentPage === pager.totalPages}" (click)="setPage(pager.currentPage + 1)"><i class="angle right icon"></i></a>
  <div class="disabled item" *ngIf="pager.endPage < pager.totalPages">...</div><a class="icon item" [ngClass]="{disabled:pager.currentPage === pager.totalPages}" (click)="setPage(pager.totalPages)"><i class="angle double right icon"></i></a>
</div>

web/src/modules/shared/components/pager/pager.component.pug
// pager
.ui.right.floated.pagination.menu(*ngIf!='pager.pages && pager.pages.length')
    a.icon.item([ngClass]='{disabled:pager.currentPage === 1}', (click)='setPage(1)')
        i.angle.double.left.icon
    .disabled.item(*ngIf!='pager.startPage > 1') ...
    a.icon.item([ngClass]='{disabled:pager.currentPage === 1}', (click)='setPage(pager.currentPage - 1)')
        i.angle.left.icon
    a.item(*ngFor='let page of pager.pages', [ngClass]='{active:pager.currentPage === page}', (click)='setPage(page)') {{page}}
    a.icon.item([ngClass]='{disabled:pager.currentPage === pager.totalPages}', (click)='setPage(pager.currentPage + 1)')
        i.angle.right.icon
    .disabled.item(*ngIf!='pager.endPage < pager.totalPages') ...
    a.icon.item([ngClass]='{disabled:pager.currentPage === pager.totalPages}', (click)='setPage(pager.totalPages)')
        i.angle.double.right.icon
