web/src/modules/visit-queue/views/visit-queue.component.pug
.ui.raised.very.padded.container.segment
    h2.ui.icon.header
        i.users.icon
        .content
            | Visit queues
            .sub.header You can manage patients Visits queues from here.
    .ui.section.divider
    table.ui.single.line.selectable.table(*ngIf='visitQueues')
        thead
            tr
                th Order No.
                th Arrival time
                th Names
                th Patient ID
                th Relationship
        tbody
            tr(*ngFor='let queue of visitQueues')
                td {{ queue.queueOrderNumber }}
                td {{ queue.arrivalDateTime | date:'dd/MM/yyyy hh:mm:ss' }}
                td {{ queue.firstName }} {{ queue.lastName }}
                td {{ queue.parentId }}
                td {{ queue.relationship }}
        tfoot
            tr
                th(colspan='9')
                    .ui.right.floated.pagination.menu
                        a.icon.item
                            i.left.chevron.icon
                        a.item 1
                        a.item 2
                        a.item 3
                        a.item 4
                        a.icon.item
                            i.right.chevron.icon

web/src/modules/visit-queue/views/visit-queue.component.html

<div class="ui raised very padded container segment">
  <h2 class="ui icon header"><i class="users icon"></i>
    <div class="content">Visit queues
      <div class="sub header">You can manage patients Visits queues from here.</div>
    </div>
  </h2>
  <div class="ui section divider"></div>
  <table class="ui single line selectable table" *ngIf="visitQueues">
    <thead>
      <tr>
        <th>Order No.</th>
        <th>Arrival time</th>
        <th>Names</th>
        <th>Patient ID</th>
        <th>Relationship</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let queue of visitQueues">
        <td>{{ queue.queueOrderNumber }}</td>
        <td>{{ queue.arrivalDateTime | date:'dd/MM/yyyy hh:mm:ss' }}</td>
        <td>{{ queue.firstName }} {{ queue.lastName }}</td>
        <td>{{ queue.parentId }}</td>
        <td>{{ queue.relationship }}</td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <th colspan="9">
          <div class="ui right floated pagination menu"><a class="icon item"><i class="left chevron icon"></i></a><a class="item">1</a><a class="item">2</a><a class="item">3</a><a class="item">4</a><a class="icon item"><i class="right chevron icon"></i></a></div>
        </th>
      </tr>
    </tfoot>
  </table>
</div>
