web/src/modules/clinical/views/encounter.pug
.steps
    | Cheif Complaint > Vital Signs > Sx > Hx > Px > Tx > Dx > Rx
.chief-complaint
    form.ui.form
        .field
            label Chief Compaint
            input(name='chiefComplaint', type='text', placeholder="Enter patient's complaint")
        button.ui.button(value='Next') Next

web/src/modules/clinical/views/encounter.html

<div class="steps">Cheif Complaint > Vital Signs > Sx > Hx > Px > Tx > Dx > Rx</div>
<div class="chief-complaint">
  <form class="ui form">
    <div class="field">
      <label>Chief Compaint</label>
      <input name="chiefComplaint" type="text" placeholder="Enter patient's complaint"/>
    </div>
    <button class="ui button" value="Next">Next</button>
  </form>
</div>
