web/src/modules/clinical/views/forms.html

<div class="daContent">
  <h3>Forms</h3>
  <table class="ui celled table">
    <thead>
      <tr>
        <th>Form Name</th>
        <th>Type</th>
      </tr>
    </thead>
    <tbody></tbody>
    <tfoot>
      <tr>
        <th colspan="2">
          <div class="ui right floated pagination menu"><a class="icon item"><i class="left chevron icon"></i></a><a class="item">1</a><a class="icon item"><i class="right chevron icon"></i></a></div>
        </th>
      </tr>
    </tfoot>
  </table>
</div>

web/src/modules/clinical/views/forms.pug
.daContent
    h3 Forms
    table.ui.celled.table
        thead
            tr
                th Form Name
                th Type
        tbody
        tfoot
            tr
                th(colspan='2')
                    .ui.right.floated.pagination.menu
                        a.icon.item
                            i.left.chevron.icon
                        a.item 1
                        a.icon.item
                            i.right.chevron.icon
