web/src/modules/patient/views/allergies.pug
.daContent
    .ui.positive.message.success.nag
        span
            | The new allergy was added successfully!
        i.close.icon
    h3 Allergies
    #add-allergy.ui.primary.button Add Allergy
    table.ui.celled.table
        thead
            tr
                th Allergy
                th Since
                th Until
                th Medications
        tbody
            tr(*ngFor='let allerg of allergies')
                td {{ allerg.name }}
                td {{ allerg.startDate}}
                td {{ allerg.endDate.length > 0 ? allerg.endDate : 'Present' }}
                td {{ allerg.meds | listToStringPipe }}
        tfoot
            tr
                th(colspan='4')
                    .ui.right.floated.pagination.menu
                        a.icon.item
                            i.left.chevron.icon
                        a.item 1
                        a.icon.item
                            i.right.chevron.icon
    .ui.modal.allergy(style='display:none; z-index: 10001;')
        .header Add a new activity
        .ui.negative.message.error.nag
            span
                | Failed to add the allergy!
            i.close.icon
        .content
            form.ui.form(#form='ngForm', (ngSubmit)='add(form)')
                .field
                    label Allergy *
                    input(ngModel='', type='text', name='name', placeholder='Allergy', required='')
                .field
                    label Medications
                    input(ngModel='', type='text', name='meds', placeholder='What medications are you taking?(comma separated)')
                .field
                    label Start Date *
                    input(ngModel='', type='date', name='startDate', placeholder='Start Date', required='')
                .field
                    label End Date
                    input(ngModel='', type='date', name='endDate', placeholder='End Date')
                .actions
                    button#save.ui.primary.button([disabled]='!form.form.valid', type='submit')
                        i.mail.icon
                        | Save
                    button.ui.cancel.button(type='button') Cancel

web/src/modules/patient/views/allergies.html

<div class="daContent">
  <div class="ui positive message success nag"><span>The new allergy was added successfully!</span><i class="close icon"></i></div>
  <h3>Allergies</h3>
  <div class="ui primary button" id="add-allergy">Add Allergy</div>
  <table class="ui celled table">
    <thead>
      <tr>
        <th>Allergy</th>
        <th>Since</th>
        <th>Until</th>
        <th>Medications</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let allerg of allergies">
        <td>{{ allerg.name }}</td>
        <td>{{ allerg.startDate}}</td>
        <td>{{ allerg.endDate.length > 0 ? allerg.endDate : 'Present' }}</td>
        <td>{{ allerg.meds | listToStringPipe }}</td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <th colspan="4">
          <div class="ui right floated pagination menu"><a class="icon item"><i class="left chevron icon"></i></a><a class="item">1</a><a class="icon item"><i class="right chevron icon"></i></a></div>
        </th>
      </tr>
    </tfoot>
  </table>
  <div class="ui modal allergy" style="display:none; z-index: 10001;">
    <div class="header">Add a new activity</div>
    <div class="ui negative message error nag"><span>Failed to add the allergy!</span><i class="close icon"></i></div>
    <div class="content">
      <form class="ui form" #form="ngForm" (ngSubmit)="add(form)">
        <div class="field">
          <label>Allergy *</label>
          <input ngModel="" type="text" name="name" placeholder="Allergy" required=""/>
        </div>
        <div class="field">
          <label>Medications</label>
          <input ngModel="" type="text" name="meds" placeholder="What medications are you taking?(comma separated)"/>
        </div>
        <div class="field">
          <label>Start Date *</label>
          <input ngModel="" type="date" name="startDate" placeholder="Start Date" required=""/>
        </div>
        <div class="field">
          <label>End Date</label>
          <input ngModel="" type="date" name="endDate" placeholder="End Date"/>
        </div>
        <div class="actions">
          <button class="ui primary button" id="save" [disabled]="!form.form.valid" type="submit"><i class="mail icon"></i>Save</button>
          <button class="ui cancel button" type="button">Cancel</button>
        </div>
      </form>
    </div>
  </div>
</div>
