web/src/modules/patient/views/conditions.html

<div class="daContent">
  <div class="ui positive message success nag"><span>The condition was added on patient's record successfully!</span><i class="close icon"></i></div>
  <h3>Medical Conditions</h3>
  <div class="ui primary button" id="add-cond">Add condition</div>
  <table class="ui celled table">
    <thead>
      <tr>
        <th>Condition</th>
        <th>Since</th>
        <th>Medications</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let cond of conditions">
        <td>{{ cond.name }}</td>
        <td>{{ cond.sinceDate }}</td>
        <td>{{ cond.meds | listToStringPipe }}</td>
        <td>{{ cond.status }}</td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <th colspan="4">
          <div class="ui right floated pagination menu"><a class="icon item"><i class="left chevron icon"></i></a><a class="item">1</a><a class="icon item"><i class="right chevron icon"></i></a></div>
        </th>
      </tr>
    </tfoot>
  </table>
  <div class="ui modal condition" style="display:none; z-index: 10001;">
    <div class="header">Add a new condition</div>
    <div class="ui negative message error nag"><span>Failed to add the condition!</span><i class="close icon"></i></div>
    <div class="content">
      <form class="ui form" #conditionForm="ngForm" (ngSubmit)="addCondition(conditionForm)">
        <div class="field">
          <label>Condition *</label>
          <select class="ui dropdown" ngModel="" name="condition" required="">
            <option value="">Select a condition</option>
            <option value="1">Hypertension</option>
            <option value="2">Type I Diabetes</option>
            <option value="3">Type II Diabetes</option>
            <option value="4">Asthma</option>
            <option value="5">Alzheimer's</option>
            <option value="6">Cancer</option>
          </select>
        </div>
        <div class="field">
          <label>Diagnosed Date *</label>
          <input ngModel="" type="date" name="date" placeholder="Diagnosed Date" required=""/>
        </div>
        <div class="field">
          <label>Medications</label>
          <select class="ui fluid search dropdown" ngModel="" name="meds">
            <option value="">Select meds</option>
            <option value="Metformin">Metformin</option>
            <option value="Condesartan">Condesartan</option>
            <option value="Donepezil">Donepezil</option>
            <option value="Galantamine">Galantamine</option>
            <option value="Bexarotene">Bexarotene</option>
            <option value="Xopenex">Xopenex</option>
          </select>
        </div>
        <div class="actions">
          <button class="ui primary button" id="add-condition" [disabled]="!conditionForm.form.valid" type="submit"><i class="mail icon"></i>Save</button>
          <button class="ui cancel button" type="button">Cancel</button>
        </div>
      </form>
    </div>
  </div>
</div>

web/src/modules/patient/views/conditions.pug
.daContent
    .ui.positive.message.success.nag
        span
            | The condition was added on patient's record successfully!
        i.close.icon
    h3 Medical Conditions
    #add-cond.ui.primary.button Add condition
    table.ui.celled.table
        thead
            tr
                th Condition
                th Since
                th Medications
                th Status
        tbody
            tr(*ngFor='let cond of conditions')
                td {{ cond.name }}
                td {{ cond.sinceDate }}
                td {{ cond.meds | listToStringPipe }}
                td {{ cond.status }}
        tfoot
            tr
                th(colspan='4')
                    .ui.right.floated.pagination.menu
                        a.icon.item
                            i.left.chevron.icon
                        a.item 1
                        a.icon.item
                            i.right.chevron.icon
    .ui.modal.condition(style='display:none; z-index: 10001;')
        .header Add a new condition
        .ui.negative.message.error.nag
            span
                | Failed to add the condition!
            i.close.icon
        .content
            form.ui.form(#conditionForm='ngForm', (ngSubmit)='addCondition(conditionForm)')
                .field
                    label Condition *
                    select.ui.dropdown(ngModel='', name='condition', required='')
                        option(value='') Select a condition
                        option(value='1') Hypertension
                        option(value='2') Type I Diabetes
                        option(value='3') Type II Diabetes
                        option(value='4') Asthma
                        option(value='5') Alzheimer's
                        option(value='6') Cancer
                .field
                    label Diagnosed Date *
                    input(ngModel='', type='date', name='date', placeholder='Diagnosed Date', required='')
                .field
                    label Medications
                    select.ui.fluid.search.dropdown(ngModel='', name='meds')
                        option(value='') Select meds
                        option(value='Metformin') Metformin
                        option(value='Condesartan') Condesartan
                        option(value='Donepezil') Donepezil
                        option(value='Galantamine') Galantamine
                        option(value='Bexarotene') Bexarotene
                        option(value='Xopenex') Xopenex
                .actions
                    button#add-condition.ui.primary.button([disabled]='!conditionForm.form.valid', type='submit')
                        i.mail.icon
                        | Save
                    button.ui.cancel.button(type='button') Cancel
