web/src/modules/patient/views/docs.pug
.daContent
    h3 Documents
    table.ui.celled.table
        thead
            tr
                th Document Name
                th Type
                th Date
        tbody
        tfoot
            tr
                th(colspan='3')
                    .ui.right.floated.pagination.menu
                        a.icon.item
                            i.left.chevron.icon
                        a.item 1
                        a.icon.item
                            i.right.chevron.icon

web/src/modules/patient/views/docs.html

<div class="daContent">
  <h3>Documents</h3>
  <table class="ui celled table">
    <thead>
      <tr>
        <th>Document Name</th>
        <th>Type</th>
        <th>Date</th>
      </tr>
    </thead>
    <tbody></tbody>
    <tfoot>
      <tr>
        <th colspan="3">
          <div class="ui right floated pagination menu"><a class="icon item"><i class="left chevron icon"></i></a><a class="item">1</a><a class="icon item"><i class="right chevron icon"></i></a></div>
        </th>
      </tr>
    </tfoot>
  </table>
</div>
