web/src/modules/patient/views/fitness.html

<div class="daContent">
  <div class="ui positive message success nag"><span>The activity was added successfully!</span><i class="close icon"></i></div>
  <h3>Physical Activities Log</h3>
  <div>
    <button class="ui primary button" id="add-fitness">Add Activity</button>
  </div>
  <table class="ui celled table">
    <thead>
      <tr>
        <th>Type</th>
        <th>Activity</th>
        <th>Calories</th>
        <th>Feeling</th>
        <th> Note</th>
        <th>Duration</th>
        <th>Date</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let wo of workouts">
        <td>{{ wo.type }}</td>
        <td>{{ wo.activity }}</td>
        <td>{{ wo.calories }}</td>
        <td>{{ wo.feeling }}</td>
        <td>{{ wo.note }}</td>
        <td>{{ wo.durationDisplay}}</td>
        <td>{{ wo.date }}</td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <th colspan="7">
          <div class="ui right floated pagination menu"><a class="icon item"><i class="left chevron icon"></i></a><a class="item">1</a><a class="icon item"><i class="right chevron icon"></i></a></div>
        </th>
      </tr>
    </tfoot>
  </table>
  <div class="ui modal fitness" style="display:none; z-index: 10001;">
    <div class="header">Add a new activity</div>
    <div class="ui negative message error nag"><span>Failed to add the workout!</span><i class="close icon"></i></div>
    <div class="content">
      <form class="ui form" #form="ngForm" (ngSubmit)="add(form)">
        <div class="field">
          <label>Activity type</label>
          <select class="ui dropdown" ngModel="" name="type" required="">
            <option value="">Select type</option>
            <option value="Endurance">Endurance</option>
            <option value="Strength">Strength</option>
            <option value="Balance">Balance</option>
            <option value="Flexibility">Flexibility</option>
          </select>
        </div>
        <div class="field">
          <label>Activity</label>
          <select class="ui dropdown" ngModel="" name="activity" required="">
            <option value="">Select type</option>
            <option value="Running">Running</option>
            <option value="Jogging">Jogging</option>
            <option value="Walking">Walking</option>
            <option value="Bicycling">Bicycling</option>
            <option value="Swimming">Swimming</option>
            <option value="Weight Lifting">Weight Lifting</option>
            <option value="Other">Other</option>
          </select>
        </div>
        <div class="field">
          <div class="two fields">
            <div class="field">
              <label>Duration</label>
              <input ngModel="" type="number" name="duration" placeholder="activity duration" required=""/>
            </div>
            <div class="field">
              <label>Unit</label>
              <select class="ui dropdown" ngModel="" name="durationUnit" required="">
                <option value="">Select unit</option>
                <option value="Minute">minutes</option>
                <option value="Hour">hour(s)</option>
              </select>
            </div>
          </div>
        </div>
        <div class="field">
          <label>Calories</label>
          <input ngModel="" type="number" name="calories" placeholder="number of calories"/>
        </div>
        <div class="field">
          <label>How did you feel?</label>
          <select class="ui dropdown" ngModel="" name="feeling">
            <option value="">Select feeling</option>
            <option value="Energized">Energized</option>
            <option value="Excited">Excited</option>
            <option value="Painful">Painful</option>
            <option value="Weak">Weak</option>
          </select>
        </div>
        <div class="field">
          <label>Note</label>
          <textarea ngModel="" name="note">Keep a note</textarea>
        </div>
        <div class="field">
          <label>Date</label>
          <input ngModel="" type="date" name="date" required="" placeholder="date"/>
        </div>
        <div class="actions">
          <button class="ui primary button" id="save" [disabled]="!form.form.valid" type="submit"><i class="mail icon"></i>Save</button>
          <button class="ui cancel button" type="button">Cancel</button>
        </div>
      </form>
    </div>
  </div>
</div>

web/src/modules/patient/views/fitness.pug
.daContent
    .ui.positive.message.success.nag
        span
            | The activity was added successfully!
        i.close.icon
    h3 Physical Activities Log
    div
        button#add-fitness.ui.primary.button Add Activity
    table.ui.celled.table
        thead
            tr
                th Type
                th Activity
                th Calories
                th Feeling
                th  Note
                th Duration
                th Date
        tbody
            tr(*ngFor='let wo of workouts')
                td {{ wo.type }}
                td {{ wo.activity }}
                td {{ wo.calories }}
                td {{ wo.feeling }}
                td {{ wo.note }}
                td {{ wo.durationDisplay}}
                td {{ wo.date }}
        tfoot
            tr
                th(colspan='7')
                    .ui.right.floated.pagination.menu
                        a.icon.item
                            i.left.chevron.icon
                        a.item 1
                        a.icon.item
                            i.right.chevron.icon
    .ui.modal.fitness(style='display:none; z-index: 10001;')
        .header Add a new activity
        .ui.negative.message.error.nag
            span
                | Failed to add the workout!
            i.close.icon
        .content
            form.ui.form(#form='ngForm', (ngSubmit)='add(form)')
                .field
                    label Activity type
                    select.ui.dropdown(ngModel='', name='type', required='')
                        option(value='') Select type
                        option(value='Endurance') Endurance
                        option(value='Strength') Strength
                        option(value='Balance') Balance
                        option(value='Flexibility') Flexibility
                .field
                    label Activity
                    select.ui.dropdown(ngModel='', name='activity', required='')
                        option(value='') Select type
                        option(value='Running') Running
                        option(value='Jogging') Jogging
                        option(value='Walking') Walking
                        option(value='Bicycling') Bicycling
                        option(value='Swimming') Swimming
                        option(value='Weight Lifting') Weight Lifting
                        option(value='Other') Other
                .field
                    .two.fields
                        .field
                            label Duration
                            input(ngModel='', type='number', name='duration', placeholder='activity duration', required='')
                        .field
                            label Unit
                            select.ui.dropdown(ngModel='', name='durationUnit', required='')
                                option(value='') Select unit
                                option(value='Minute') minutes
                                option(value='Hour') hour(s)
                .field
                    label Calories
                    input(ngModel='', type='number', name='calories', placeholder='number of calories')
                .field
                    label How did you feel?
                    select.ui.dropdown(ngModel='', name='feeling')
                        option(value='') Select feeling
                        option(value='Energized') Energized
                        option(value='Excited') Excited
                        option(value='Painful') Painful
                        option(value='Weak') Weak
                .field
                    label Note
                    textarea(ngModel='', name='note') Keep a note
                .field
                    label Date
                    input(ngModel='', type='date', name='date', required='', placeholder='date')
                .actions
                    button#save.ui.primary.button([disabled]='!form.form.valid', type='submit')
                        i.mail.icon
                        | Save
                    button.ui.cancel.button(type='button') Cancel
