web/src/modules/patient/views/transfers.pug
.daContent
    .ui.positive.message.success.nag
        span  The transfer was initiated successfully!
        i.close.icon
    h3 Transfers
    div
        button#add-transfer.ui.primary.button
            | Transfer
            | patient
    table.ui.celled.table
        thead
            tr
                th From
                th To
                th Note
                th Date
        tbody
            tr(*ngFor='let trans of transfers')
                td {{ trans.from}}
                td {{ trans.to }}
                td {{ trans.note }}
                td {{ trans.date }}
        tfoot
            tr
                th(colspan='4')
                    .ui.right.floated.pagination.menu
                        a.icon.item
                            i.left.chevron.icon
                        a.item 1
                        a.icon.item
                            i.right.chevron.icon
    .ui.modal.transfer(style='display: none; z-index: 10001;')
        .header Transfer the patient
        .ui.negative.message.error.nag
            span  Failed to initialize the transfer!
            i.close.icon
        .content
            form.ui.form(#form='ngForm', (ngSubmit)='add(form)')
                .field
                    label transfer to
                    select.ui.dropdown(ngModel='', name='to', required='')
                        option(value='') Select hospital
                        option(value='CHUK Hospital') CHUK Hospital
                        option(value='Roi Faycal') Roi Faycal
                        option(value='Kanombe Hospital') Kanombe Hospital
                        option(value='Clinic Du Plateau') Clinic Du Plateau
                input(ngModel='', type='text', value='Byo Centre de Sante', name='from', hidden='')
                .field
                    label Note
                    textarea(ngModel='', name='note', placeholder='add a note', required='') Keep a note
                .actions
                    button#save.ui.primary.button([disabled]='!form.form.valid', type='submit')
                        i.mail.icon
                        | Transfer
                    button.ui.cancel.button(type='button') Cancel

web/src/modules/patient/views/transfers.html

<div class="daContent">
  <div class="ui positive message success nag"><span> The transfer was initiated successfully!</span><i class="close icon"></i></div>
  <h3>Transfers</h3>
  <div>
    <button class="ui primary button" id="add-transfer">
      Transfer
      patient
    </button>
  </div>
  <table class="ui celled table">
    <thead>
      <tr>
        <th>From</th>
        <th>To</th>
        <th>Note</th>
        <th>Date</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let trans of transfers">
        <td>{{ trans.from}}</td>
        <td>{{ trans.to }}</td>
        <td>{{ trans.note }}</td>
        <td>{{ trans.date }}</td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <th colspan="4">
          <div class="ui right floated pagination menu"><a class="icon item"><i class="left chevron icon"></i></a><a class="item">1</a><a class="icon item"><i class="right chevron icon"></i></a></div>
        </th>
      </tr>
    </tfoot>
  </table>
  <div class="ui modal transfer" style="display: none; z-index: 10001;">
    <div class="header">Transfer the patient</div>
    <div class="ui negative message error nag"><span> Failed to initialize the transfer!</span><i class="close icon"></i></div>
    <div class="content">
      <form class="ui form" #form="ngForm" (ngSubmit)="add(form)">
        <div class="field">
          <label>transfer to</label>
          <select class="ui dropdown" ngModel="" name="to" required="">
            <option value="">Select hospital</option>
            <option value="CHUK Hospital">CHUK Hospital</option>
            <option value="Roi Faycal">Roi Faycal</option>
            <option value="Kanombe Hospital">Kanombe Hospital</option>
            <option value="Clinic Du Plateau">Clinic Du Plateau</option>
          </select>
        </div>
        <input ngModel="" type="text" value="Byo Centre de Sante" name="from" hidden=""/>
        <div class="field">
          <label>Note</label>
          <textarea ngModel="" name="note" placeholder="add a note" required="">Keep a note</textarea>
        </div>
        <div class="actions">
          <button class="ui primary button" id="save" [disabled]="!form.form.valid" type="submit"><i class="mail icon"></i>Transfer</button>
          <button class="ui cancel button" type="button">Cancel</button>
        </div>
      </form>
    </div>
  </div>
</div>
