web/src/modules/patient/views/vax.pug
.daContent
    h3 Vaccinations
    table.ui.celled.table
        thead
            tr
                th Disease
                th Status
                th Date
        tbody
            tr
                td Polio
                td Vaccinated
                td Feb 23rd, 1999
            tr
                td Tuberculos
                td Vaccinated
                td Jan 7nd, 2017
            tr
                td Shingles
                td Not Vaccinated
                td -
        tfoot
            tr
                th(colspan='3')
                    .ui.right.floated.pagination.menu
                        a.icon.item
                            i.left.chevron.icon
                        a.item 1
                        a.icon.item
                            i.right.chevron.icon

web/src/modules/patient/views/vax.html

<div class="daContent">
  <h3>Vaccinations</h3>
  <table class="ui celled table">
    <thead>
      <tr>
        <th>Disease</th>
        <th>Status</th>
        <th>Date</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Polio</td>
        <td>Vaccinated</td>
        <td>Feb 23rd, 1999</td>
      </tr>
      <tr>
        <td>Tuberculos</td>
        <td>Vaccinated</td>
        <td>Jan 7nd, 2017</td>
      </tr>
      <tr>
        <td>Shingles</td>
        <td>Not Vaccinated</td>
        <td>-</td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <th colspan="3">
          <div class="ui right floated pagination menu"><a class="icon item"><i class="left chevron icon"></i></a><a class="item">1</a><a class="icon item"><i class="right chevron icon"></i></a></div>
        </th>
      </tr>
    </tfoot>
  </table>
</div>
