web/src/modules/patient/views/visits.pug
.daContent
    h3 Visits
    table.ui.celled.table
        thead
            tr
                th Date
                th Diagnosis
                th Note
        tbody
        tfoot
            tr
                th(colspan='3')
                    .ui.right.floated.pagination.menu
                        a.icon.item
                            i.left.chevron.icon
                        a.item 1
                        a.icon.item
                            i.right.chevron.icon

web/src/modules/patient/views/visits.html

<div class="daContent">
  <h3>Visits</h3>
  <table class="ui celled table">
    <thead>
      <tr>
        <th>Date</th>
        <th>Diagnosis</th>
        <th>Note</th>
      </tr>
    </thead>
    <tbody></tbody>
    <tfoot>
      <tr>
        <th colspan="3">
          <div class="ui right floated pagination menu"><a class="icon item"><i class="left chevron icon"></i></a><a class="item">1</a><a class="icon item"><i class="right chevron icon"></i></a></div>
        </th>
      </tr>
    </tfoot>
  </table>
</div>
